
            <div class="page-wrapper">	
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Candidates List</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
									<li class="breadcrumb-item">Jobs</li>
									<li class="breadcrumb-item active">Candidates List</li>
								</ul>
							</div>
							<div class="col-auto float-end ms-auto">
								<a href="#" data-bs-toggle="modal" data-bs-target="#add_employee" class="btn add-btn"> Add Candidates</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table datatable mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Mobile Number</th>
											<th>Email</th>
											<th>Created Date</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of lstCandidate">
											<td>{{item.id}}</td>
											<td>
												<h2 class="table-avatar">
													<a routerLink="/profile/profilelist" class="avatar"><img alt="" src="assets/img/profiles/avatar-2.jpg"></a>
													<a routerLink="/profile/profilelist">{{item.name}} </a>
												</h2>
											</td>
											<td>{{item.mobilenumber}}</td>
											<td>{{item.email}}</td>
											<td>{{item.createddate}}</td>
											<td class="text-center">
												<div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_job" (click)="edit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
														<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_job" (click)="tempId = item.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
													</div>
												</div>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<div id="add_employee" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Candidates</h5>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form (ngSubmit)="addCandidate()" [formGroup]="addCandidateForm">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input class="form-control" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Last Name</label>
												<input class="form-control" type="text">
											</div>
										</div>
										
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input class="form-control" type="email" [class.invalid]="addCandidateForm.get('EmailName').invalid && addCandidateForm.get('EmailName').touched"
                            formControlName="EmailName">
                            		<div
                            *ngIf="addCandidateForm.get('EmailName').invalid && addCandidateForm.get('EmailName').touched">
                            <small
                                *ngIf="addCandidateForm.get('EmailName').invalid && addCandidateForm.get('EmailName').touched"
                                class="text-danger"> *Email required</small>
                        </div>
											</div>
										</div>
										
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Created Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker [class.invalid]="addCandidateForm.get('CreateName').invalid && addCandidateForm.get('CreateName').touched"
                            formControlName="CreateName"></div>
                            		<div
                            *ngIf="addCandidateForm.get('CreateName').invalid && addCandidateForm.get('CreateName').touched">
                            <small
                                *ngIf="addCandidateForm.get('CreateName').invalid && addCandidateForm.get('CreateName').touched"
                                class="text-danger"> *Date required</small>
                        </div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Phone </label>
												<input class="form-control" type="text" [class.invalid]="addCandidateForm.get('PhoneName').invalid && addCandidateForm.get('PhoneName').touched"
                            formControlName="PhoneName">
                            	<div
                            *ngIf="addCandidateForm.get('PhoneName').invalid && addCandidateForm.get('PhoneName').touched">
                            <small
                                *ngIf="addCandidateForm.get('PhoneName').invalid && addCandidateForm.get('PhoneName').touched"
                                class="text-danger"> *Phone required</small>
                        </div>
											</div>
										</div>
										
									</div>
									
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


				<!-- Edit Job Modal -->
				<div id="edit_job" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Candidates</h5>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form (ngSubmit)="editCandidate()" [formGroup]="editCandidateForm">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input class="form-control" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Last Name</label>
												<input class="form-control" type="text">
											</div>
										</div>
										
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input class="form-control" type="email" [class.invalid]="editCandidateForm.get('EmailName').invalid && editCandidateForm.get('EmailName').touched"
                            formControlName="EmailName">
                            	<div
                            *ngIf="editCandidateForm.get('EmailName').invalid && editCandidateForm.get('EmailName').touched">
                            <small
                                *ngIf="editCandidateForm.get('EmailName').invalid && editCandidateForm.get('EmailName').touched"
                                class="text-danger"> *Email required</small>
                        </div>
											</div>
										</div>
										
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Created Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker [class.invalid]="editCandidateForm.get('CreateName').invalid && editCandidateForm.get('CreateName').touched"
                            formControlName="CreateName"></div>
                            	<div
                            *ngIf="editCandidateForm.get('CreateName').invalid && editCandidateForm.get('CreateName').touched">
                            <small
                                *ngIf="editCandidateForm.get('CreateName').invalid && editCandidateForm.get('CreateName').touched"
                                class="text-danger"> *Date required</small>
                        </div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Phone </label>
												<input class="form-control" type="text" [class.invalid]="editCandidateForm.get('PhoneName').invalid && editCandidateForm.get('PhoneName').touched"
                            formControlName="PhoneName">
                            <div
                            *ngIf="editCandidateForm.get('PhoneName').invalid && editCandidateForm.get('PhoneName').touched">
                            <small
                                *ngIf="editCandidateForm.get('PhoneName').invalid && editCandidateForm.get('PhoneName').touched"
                                class="text-danger"> *Phone required</small>
                        </div>
											</div>
										</div>




										
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Job Modal -->

				<!-- Delete Job Modal -->
				<div class="modal custom-modal fade" id="delete_job" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn" (click)="deleteCandidate()">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Job Modal -->
				
            </div>
			